<ion-header half-screen>
  <!--span class="animated zoomIn" bubble></span-->
  <span class="animated zoomIn" bubble [style.background]="movies && movies.length>0? movies[0]._gradient_css : ''"></span>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <span abs-center-icon><ion-icon name="refresh"></ion-icon></span>
  <div swing-stack #moviestack [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack" class="card-stack">
    <ion-card #moviecard swing-card class="full-card" *ngFor="let m of movies; let i=index" [ngClass]="{'card0':i==0, 'card1':i==1, 'card2':i==2}" [style.backgroundImage]="'url('+m.poster_path+')'">
      <ion-item *ngIf="m.topActor">
        <ion-avatar item-left [style.backgroundImage]="'url('+m.topActor['profile_path']+')'">
        </ion-avatar>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-item [style.color]="m._color_css">

            <h1 ion-text>{{ m.title }}</h1>
            <p>
              <ion-icon *ngFor="let vote of m.vote_encoded" [name]="vote===1? 'star':(vote===0.5? 'star-half': 'star-outline')"></ion-icon>
            </p>
            <p>{{ m.release_date | date }} &bull;  {{ m.runtime }}</p>
          </ion-item>
        </ion-row>
        <ion-row>
          <button *ngFor="let g of m.genres" ion-button color="light" round>{{g.name}}</button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
<ion-row fix-footer text-center>
  <ion-col><button ion-button round color="light" (click)="unkwownMovie()"><ion-icon color="blue" name="help"></ion-icon></button></ion-col>
  <ion-col><button ion-button round color="light"><ion-icon color="yellow"name="time"></ion-icon></button></ion-col>
</ion-row>
</ion-content>
